#calendar,#shift_view_calendar {
    height: 80vh;
    /* 画面の高さの80%に制限 */
    max-width: 1400px;
    /* 最大幅を制限 */
    margin: 0 auto;
    /* 水平中央揃え */
}

label {
    margin-right: 10px;
    /* ボタン同士の間隔 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* コピペ禁止 */
}

label input {
    display: none;
    /* デフォルトのinputは非表示にする */
}

label span {
    color: #333;
    /* 文字色を黒に */
    font-size: 14px;
    /* 文字サイズを14pxに */
    border: 1px solid #333;
    /* 淵の線を指定 */
    border-radius: 20px;
    /* 角丸を入れて、左右が丸いボタンにする */
    padding: 10px 10px;
    /* 上下左右に余白をトル */
}

label input:checked+span {
    color: #FFF;
    /* 文字色を白に */
    background: rgb(77, 235, 4);
    /* 背景色を薄い赤に */
    border: 1px solid rgb(94, 245, 6);
    /* 淵の線を薄い赤に */
}